stages:
  - test

variables:
  SCRIPT_DIR: "${CI_PROJECT_DIR}/scripts"

lint-and-test:
  image: python:latest
  stage: test
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends git curl ca-certificates wget shellcheck shfmt jq
    - git clone https://github.com/bats-core/bats-core.git /tmp/bats-core
    - /tmp/bats-core/install.sh /usr/local
  script:
    - |
      cd "$CI_PROJECT_DIR"
      ./scripts/all-tests.sh
